// src/styles/components/_editor.scss
.markdown-editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  @each $theme, $colors in $themes {
    &[data-theme='#{$theme}'] {
      background-color: map-get($colors, 'bg');
      color: map-get($colors, 'text');
    }
  }

  .editor-main {
    display: flex;
    flex: 1;
    overflow: hidden;

    .edit-area, .preview-area {
      flex: 1;
      height: 100%;
    }
  }
}
