// src/styles/main.scss

// 首先导入变量和混合宏
@import './abstracts/variables';
@import './abstracts/mixins';

// 设置根字体大小和响应式规则
html {

  // 大屏幕设备（例如你的ROG笔记本）
  @media (min-width: 1500px) {
    font-size: 18px;
  }

  // 中等屏幕设备
  @media (max-width: 1499px) and (min-width: 1200px) {
    font-size: 16px;
  }
}

// 重置样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// 导入组件样式
@import './components/editor';
@import './components/toolbar';
@import './components/editor-area';
@import './components/preview-area';
