// src/styles/main.scss

// 首先导入变量和混合宏
@import './abstracts/variables';
@import './abstracts/mixins';

// 设置根字体大小和响应式规则
html {
  font-size: 16px; // 设置默认基础字体大小

  // 大屏幕设备（例如你的ROG笔记本）
  @media (min-width: 1500px) {
    font-size: 18px;
    .editor-toolbar .toolbar-right .theme-selector select {
      font-size: 0.875rem; // 使用rem单位，保持一致性
    }
    .toolbar-button {
      width: 2rem;
      height: 2rem;
    }
  }

  // 中等屏幕设备
  @media (max-width: 1499px) and (min-width: 1200px) {
    font-size: 15px;
  }

  // 小屏幕设备
  @media (max-width: 1199px) {
    font-size: 12px;
  }
}

// 重置样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// 导入组件样式
@import './components/editor';
@import './components/toolbar';
@import './components/editor-area';
@import './components/preview-area';
